<div class='product-details'>
  {{! Header }}
  <section>
    <h3>{{@name}}</h3>
    <div class='text-warning'>
      <i class='bi bi-star-fill'></i>
      <i class='bi bi-star-fill'></i>
      <i class='bi bi-star-fill'></i>
      <i class='bi bi-star-fill'></i>
      <i class='bi bi-star-half'></i>
    </div>
  </section>

  {{!Price}}
  <section class={{unless @isDetails 'h4'}}>
    <del data-test-original-price class='small text-black-50'>{{currency @price.original}}</del>
    <i data-test-current-price class='text-danger font-weight-bold'>{{currency @price.current}}</i>
  </section>

  {{#if @isDetails}}
    <div class='d-flex justify-content-between align-items-end'>
      <div>
        <h5>
          Color
        </h5>
        <div class='product-colors active-{{@color}}'>
          {{#each @colors as |colorInfo|}}
            <button
              data-test-color
              type='button'
              class='product-color {{concat "color-" colorInfo.color}}'
              {{on 'click' (fn @onChangeColor colorInfo.color)}}
            ></button>
          {{/each}}
        </div>
      </div>
      <button class='btn btn-info' type='button' {{on 'click' this.addToCart}}>
        <i class="bi bi-cart-plus-fill"></i>
        Add To Cart
      </button>
    </div>
  {{/if}}

</div>